{% extends "blog/base.html" %}
{% block content %}

<h1><b> Hizmetlerimiz </b></h1>
<h2>Uluslararası teslimat</h2>
<p>Sınırın ötesinden dünyanın dört bir yanına, onu sizin için oraya ulaştıracağız.</p>
<h2>İade & Değişim</h2>
<p>Sevmedin mi? Ücretsiz olarak iade edin. Bu kadar kolay.</p>
<h2>Siparişinizi Kontrol Edin</h2>
<p>Sınırın ötesinden dünyanın dört bir yanına, onu sizin için oraya ulaştıracağız.</p>
<div class="alert alert-success" role="alert">
    <a href="#" class="alert-link">Sipariş Durumunu Kontrol Edin</a>
</div>
{% endblock content %}