{% extends "blog/base.html" %}
{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Firma Adı</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {% for seller in sellers %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="/shop/sellers/{{ seller.SellerID }}_{{ seller.CompanyName }}">{{ seller.CompanyName }}</a></td>
      <td>{{ seller.Email }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
